body{
    background-color: rgb(255, 255, 255)
 }
h2{
    color: rgb(0, 0, 0);     
    display: inline-block;
}
h3{
    color: rgb(55, 8, 165);
    display: inline-block;

}
div{
background-color: rgb(28, 117, 145);


width: 1425px;
text-align: center;


}
.posts{
    background-color:rgb(28, 117, 145);
    margin: 50px;
    margin-left: 350px;
    padding: 50px;
    width: 500px;
    height: auto;
    

}
.underline{
    color: rgb(255, 0, 0);
}
a{
    text-decoration: none;
    
   
}
.blue{
    color: cornflowerblue;
}
h1{
    display: inline-block;
}
.purpul{
    color: blueviolet;
}